<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/Kitchen-Side/admin_record.css">
    <title>Admin Record Page: Home</title>
</head>
<body>
    <!-- Top Line -->
    <div class="page-container">
        <!-- User and Date -->
        <div class="page-info">
            <h1>Name: {{name}}</h1>
            <h2>Date: {{data}}</h2>
        </div>
        
        <!-- Top Buttons -->
        <div class="top-buttons">

            {{!-- Home Btn --}}
            <form action="/auth/admin/home" method="POST">
                <input type="hidden" name="adminName" value="{{name}}">
                <input type="hidden" name="data_key" value="{{data}}">
                <input type="hidden" name="time_key" value="{{time}}">
                <button id="home-btn">Home</button>
            </form>

            <button id="signout-btn">Sign Out</button>
        </div>
    </div>

    <!-- Horizonatal Line -->
    <hr id="hr_line">

    <!-- Option Inputs -->
    <div class="option-inputs">

        <!-- Description -->
        <h1>Which date and time of record do you look for?</h1>

        <form action="/auth/admin/displayData" method="POST">

            <!-- Date Option -->
            <div class="date-input">
                <h1>Date: </h1>

                <details class="user-select">
                    <summary class="radios">
                        <input type="radio" name="date_key" id="default" title="Choose a date" checked>
                        {{#each display_data}}
                            <input type="radio" name="date_key" id="{{on_data}}" title="{{on_data}}" value="{{on_data}}">
                        {{/each}}
                    </summary>
            
                    <ul class="list">
                        {{#each display_data}}
                            <li>
                                <label for="{{on_data}}">
                                    {{on_data}}
                                </label>
                            </li>
                        {{/each}}
                    </ul>
                </details>
            </div>

            <!-- Time Option -->
            <div class="time-input">
                <h1>Time: </h1>

                <details class="user-select">
                    <summary class="radios">
                        <input type="radio" name="time_key" id="default" title="Choose a time" checked>
                        <input type="radio" name="time_key" id="time1" title="All" value="All">
                        <input type="radio" name="time_key" id="time2" title="Lunch" value="Lunch">
                        <input type="radio" name="time_key" id="time3" title="Night" value="Night">
                    </summary>
            
                    <ul class="list">
                        <li>
                            <label for="time1">
                                All
                                <span></span>
                            </label>
                        </li>
                        <li>
                            <label for="time2">Lunch</label>
                        </li>
                        <li>
                            <label for="time3">Night</label>
                        </li>
                    </ul>
                </details>
            </div>

            <input type="hidden" name="adminName" value="{{name}}">
            <input type="hidden" name="data" value="{{data}}">
            <button id="next-button">Next</button>

        </form>
    </div>
    
</body>
</html>


{{!-- <div class="next-btn">
<button id="next-button">Next</button>
<summary class="radios">
            <input type="radio" name="date_key" id="default" title="Choose date and time" checked>
            {{#each display_data}}
            <input type="radio" name="date_key" id="item1" title="July-10 (Wed)">
            <input type="radio" name="date_key" id="item2" title="July-15 (Sat)">
            <input type="radio" name="date_key" id="item3" title="July-20 (Tue)">
            <input type="radio" name="date_key" id="item4" title="July-23 (Fri)">
            <input type="radio" name="date_key" id="item5" title="July-27 (Sun)">
            {{/each}}
        </summary>

        <ul class="list">
                        <li>
                            <label for="item1">
                                July-10 (Wed)
                                <span></span>
                            </label>
                        </li>
                        <li>
                            <label for="item2">July-15 (Sat)</label>
                        </li>
                        <li>
                            <label for="item3">July-20 (Tue)</label>
                        </li>
                        <li>
                            <label for="item4">July-23 (Fri)</label>
                        </li>
                        <li>
                            <label for="item5">July-27 (Sun)</label>
                        </li>
                    </ul>
</div> --}}