<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/Kitchen-Side/addUser.css">
    <title>Manage User</title>
</head>
<body>
    {{!-- Test Sample --}}
    <!-- Top Line -->
    <div class="page-container">

        <!-- User and Date -->
        <div class="page-info">
            <h1>Name: {{name}}</h1>
            <h2>Date: {{data}}</h2>
        </div>

        <!-- check user buttons at the left side -->
        <div class="checkUser-button">
            <button id="checkUser-btn">Check User</button>
        </div>

    </div>

    <!-- Horizonatal Line -->
    <hr id="hr_line">

    <!-- Users Inputs -->
    <div class="user-inputs">

        <form action="/auth/admin/createUser" method="POST">
            <!-- Requirements Text -->
            <h3>Please enter username and password</h3>
            
            <!-- Get an input from the user -->
            <div class="username">
                <h3>Username: </h3>
                <input type="text" class="username-box" name="username" id="username">
            </div>

            {{!-- Password --}}
            <div class="password">
                <h3>Password: </h3>
                <input type="password" class="password-box" name="password" id="password">
            </div>

            <!-- Password Confirm -->
            <div class="confirm-password">
                <h3>Confirm-Password: </h3>
                <input type="password" class="confirm-password-box" name="password_confirm" id="password-confirm">
            </div>

            {{!-- Submit Buttton --}}
            <div class="submit-btn">
                <input type="hidden" name="adminName" value={{name}}>
                <input type="hidden" name="data_key" value="{{data}}">
                <input type="hidden" name="time_key" value="{{time}}">
                <button id="submit-button">Submit</button>
            </div>
        </form>
    </div>

    <!-- Home and Signout Buttons -->
    <div class="home-signout">

        {{!-- Home Btn --}}
        <form action="/auth/admin/home" method="POST">
            <input type="hidden" name="adminName" value="{{name}}">
            <input type="hidden" name="data_key" value="{{data}}">
            <input type="hidden" name="time_key" value="{{time}}">
            <button id="home-btn">Home</button>
        </form>

        <button id="signout-btn">Sign Out</button>
    </div>

    <!-- Pop up modal for checking user login -->
    <div class="checkUser-modal" id="checkUser-modal">
        <div class="modal-content">

            <span class="close-btn">&times;</span>

            <div class="container">
                <h3>Current User List</h3>

                <table border = 1>
                    <tr>
                        <th>Username</th>
                        <th>Password</th>
                        <th>Commnad</th>
                    </tr>
                    {{#each users}}
                        <tr>
                            <td>{{name}}</td>
                            <td>{{password}}</td>
                            <td>
                                <button id="remove_user">Remove</button>
                            </td>
                        </tr>
                    {{/each}}
                </table>
            </div>
        </div>
    </div>

    {{!-- Test Sample --}}



    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script type="text/javascript" src="/js/Kitchen-Side/addUser.js"></script>

</body>
</html>