<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://css.gg/copy.css' rel='stylesheet'>
    <link href="https://fonts.googleapis.com/css2?family=Fjalla+One&family=Kaisei+Tokumin:wght@500&family=Raleway&family=Share&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="/css/Kitchen-Side/admin_main.css">
    
    <title>Control Site</title>

</head>
<body>

<div class= "wrap">
    <!-- Top Line -->
    <div class="page-container">

        <!-- User and Date -->
        <div class="page-info">
            <h2>Date: {{date}}</h2>
            <h2 id="page-time">Time: {{time}}</h2>
        </div>
        
        <!-- circle buttons at the top -->
        <div class="circle-buttons">

            <!-- Table Check Btn -->
            <button id="table-btn"><i class="fa fa-table" aria-hidden="true"></i></button>

            <!-- Icon Button -->
            <div class="user-notice">
                {{!-- <button type="button" class="icon-button" id="userCheck-btn">
                    <i class="fa-solid fa-user-check"></i>
                    
                </button> --}}

                <button type="button" class="icon-button" id="userCheck-btn">
                    <i style="font-size: 2rem;" class="fa fa-user"></i>
                </button>
            </div>

        </div>

        <!-- square buttons at the top -->
        <div class="square-button">
            <button id="more-orders-btn"><i class="gg-copy"></i>
                <span class="num_notice_badge_orders" id="exBox_num_v2"></span> 
            </button>
            <button id="history-btn"><i class="fa fa-history"></i></button>
            <button id="close-btn"><i class="fa fa-sign-out"></i></button>
        </div>

    </div>

    <!-- Order Box -->
    <div class="box-container">

        <!-- Box-1 -->
        <div class="order-box" id="Box_1" style="display: none;">

            <div class="box-title">
                <p id="boxName_1"></p>
                <h1 id="pickUp_time_1" style="display: none;"></h1>
            </div>

            <div class="scrollable">
                <div class="order-items" id="itemBox_1"></div>
            </div>

            <form action="/auth/admin/doneBtn" method="POST" class="done-btn">
                <input type="hidden" name="adminName" value="{{name}}">
                <input type="hidden" name="date_key" value="{{date}}">
                <input type="hidden" name="time_key" value="{{time}}">
                <input type="hidden" id="boxId_1" name="box_id" value="">
                <input type="hidden" id="tableId_1" name="table_id" value="">
                <button class="done-button" id="doneBtn-1" value="">Done</button>
            </form>

        </div>

        <!-- Box-2 -->
        <div class="order-box" id="Box_2" style="display: none;">

            <div class="box-title">
                <p id="boxName_2"></p>
                <h1 id="pickUp_time_2" style="display: none;"></h1>
            </div>

            <div class="scrollable">
                <div class="order-items" id="itemBox_2"></div>
            </div>

            <form action="/auth/admin/doneBtn" method="POST" class="done-btn">
                <input type="hidden" name="adminName" value="{{name}}">
                <input type="hidden" name="date_key" value="{{date}}">
                <input type="hidden" name="time_key" value="{{time}}">
                <input type="hidden" id="boxId_2" name="box_id" value="">
                <input type="hidden" id="tableId_2" name="table_id" value="">
                <button class="done-button" id="doneBtn-2" value="">Done</button>
            </form>
        </div>

        <!-- Box-3 -->
        <div class="order-box" id="Box_3" style="display: none;">

            <div class="box-title">
                <p id="boxName_3"></p>
                <h1 id="pickUp_time_3" style="display: none;"></h1>
            </div>

            <div class="scrollable">
                <div class="order-items" id="itemBox_3"></div>
            </div>

            <form action="/auth/admin/doneBtn" method="POST" class="done-btn">
                <input type="hidden" name="adminName" value="{{name}}">
                <input type="hidden" name="date_key" value="{{date}}">
                <input type="hidden" name="time_key" value="{{time}}">
                <input type="hidden" id="boxId_3" name="box_id" value="">
                <input type="hidden" id="tableId_3" name="table_id" value="">
                <button class="done-button" id="doneBtn-3" value="">Done</button>
            </form>

        </div>

        <!-- Box-4 -->
        <div class="order-box" id="Box_4" style="display: none;">

            <div class="box-title">
                <p id="boxName_4"></p>
                <h1 id="pickUp_time_4" style="display: none;"></h1>
            </div>

            <div class="scrollable">
                <div class="order-items" id="itemBox_4"></div>
            </div>

            <form action="/auth/admin/doneBtn" method="POST" class="done-btn">
                <input type="hidden" name="adminName" value="{{name}}">
                <input type="hidden" name="date_key" value="{{date}}">
                <input type="hidden" name="time_key" value="{{time}}">
                <input type="hidden" id="boxId_4" name="box_id" value="">
                <input type="hidden" id="tableId_4" name="table_id" value="">
                <button class="done-button" id="doneBtn-4" value="">Done</button>
            </form>

        </div>
    </div>
</div>

<!-- Modal Page for Table Display -->
<div class="table-modal" id='table-modal'>
    <div class="modal-content-table">

        <span class="close-btn-tableBtn">&times;</span>

        <div class="table-container">

            <!-- Table 3,4,5 -->
            <div class="table-345">
                <div class="table-box" id="Table_3" style="background: yellow;">
                    <p id="table-3">T3</p>
                </div>
                <div class="table-box" id="Table_4" style="background: yellow;">
                    <p id="table-4">T4</p>
                </div>
                <div class="table-box" id="Table_5" style="background: yellow;">
                    <p id="table-5">T5</p>
                </div>
            </div>

            <!-- Table 6,7,8 -->
            <div class="table-678">

                <div class="table-box2" id="Table_7" style="background: yellow;">
                    <p id="table-7">T7</p>
                </div>
                <div class="table-box2" id="Table_8" style="background: yellow;">
                    <p id="table-8">T8</p>
                </div>
                <div class="table-box2" id="Table_6" style="background: yellow;">
                    <p id="table-6">T6</p>
                </div>
            </div>

            <!-- Table 1,2 and front-->
            <div class="table-12">

                <div class="table-box3" id="Table_1" style="background: yellow;">
                    <p id="table-1">T1</p>
                </div>
                <div class="table-box3" id="Table_2" style="background: yellow;">
                    <p id="table-2">T2</p>
                </div>
                <div class="front-box">
                    <p id="front" style="font-size: 1rem;">Front</p>
                </div>
            </div>
        </div>

    </div>
</div>

<!-- Modal 2-->
<!-- Modal Page if admin want to continue to nigth time -->
<div class="closeBtn-modal" id="closeBtn-modal">
    <div class="modal-content-closeBtn">
        <span class="close-btn-closeBtn">&times;</span>

        <div class="closeText-container">
            <p>Are you sure to Exit?</p>
            
            <div class="yesno-btn">
                <button id="no-btn">No</button>

                <form action="/auth/admin/signOut" method="POST" id="continue_check" time_key="{{time}}" style="display: none;">
                    <input type="hidden" name="adminName" value="{{name}}">
                    <input type="hidden" name="date_key" value="{{date}}">
                    <input type="hidden" name="time_key" value="{{time}}">
                    <button id="yes-btn-night">Yes</button>
                </form>

                <button id="yes-btn-lunch" style="display: none;">Yes</button>

            </div>
        </div>

    </div>
</div>


<!-- Modal 2.1 -->
<!-- Modal Page for Close Btn -->
<div class="checkContinue-modal" id="checkContinue-modal">
    <div class="modal-content-checkContinue">
        <span class="close-btn-checkContinue">&times;</span>

        <div class="checkText-container">
            <p>Do you want to continue for Night?</p>
            
            <div class="yesno-btn-checkContinue">

                <form action="/auth/admin/continueBtn" method="POST">
                    <input type="hidden" name="adminName" value="{{name}}">
                    <input type="hidden" name="date_key" value="{{date}}">
                    <input type="hidden" name="time_key" value="{{time}}">
                    <button id="no-btn-checkContinue" name="key" value="False">No</button>
                </form>

                <form action="/auth/admin/continueBtn" method="POST">
                    <input type="hidden" name="adminName" value="{{name}}">
                    <input type="hidden" name="date_key" value="{{date}}">
                    <input type="hidden" name="time_key" value="{{time}}">
                    <button id="yes-btn-checkContinue" name="key" value="True">Yes</button>
                </form>

            </div>
        </div>

    </div>
</div>

<!-- Modal 3 -->
<!-- Pop up modal for checking user login -->
<div class="userLog-modal" id='userLog-modal'>
    <div class="modal-content">
        <h1>Check UserLog</h1>
        <span class="close-btn-userlogBtn">&times;</span>
        <div class="line"></div>

        {{!-- Display the usercheck status on the modal --}}
        <div class="userCheck"></div>

    </div>
</div>

<!-- Modal 4 -->
<!-- Modal Page to display more order boxes -->
<div class="boxBtn-modal" id="boxBtn-modal">
    <div class="modal-content-boxBtn">
        <span class="close-btn-boxBtn">&times;</span>

        <div class="extraBox_container">

            <!-- Extra Box 1 -->
            <div class="extraBox" id="Box_5" style="display: none;">

                <div class="box-title">
                    <p id="boxName_5"></p>
                    <h1 id="pickUp_time_5" style="display: none;"></h1>
                </div>

                <div class="scrollable2">
                    <div class="order-items" id="itemBox_5">
                        {{!-- <p id="mainItem_5"></p> --}}
                    </div>
                </div>

                <form action="/auth/admin/doneBtn" method="POST" class="done-btn">
                    <input type="hidden" name="adminName" value="{{name}}">
                    <input type="hidden" name="date_key" value="{{date}}">
                    <input type="hidden" name="time_key" value="{{time}}">
                    <input type="hidden" id="boxId_5" name="box_id" value="">
                    <input type="hidden" id="tableId_5" name="table_id" value="">
                    <button class="done-button" id="doneBtn-5" value="">Done</button>
                </form>

            </div>

            <!-- Extra Box 2 -->
            <div class="extraBox" id="Box_6" style="display: none;">

                <div class="box-title">
                    <p id="boxName_6"></p>
                    <h1 id="pickUp_time_6" style="display: none;"></h1>
                </div>

                <div class="scrollable2">
                    <div class="order-items" id="itemBox_6">
                        {{!-- <p id="mainItem_6"></p> --}}
                    </div>
                </div>

                <form action="/auth/admin/doneBtn" method="POST" class="done-btn">
                    <input type="hidden" name="adminName" value="{{name}}">
                    <input type="hidden" name="date_key" value="{{date}}">
                    <input type="hidden" name="time_key" value="{{time}}">
                    <input type="hidden" id="boxId_6" name="box_id" value="">
                    <input type="hidden" id="tableId_6" name="table_id" value="">
                    <button class="done-button" id="doneBtn-6" value="">Done</button>
                </form>

            </div>

            <!-- Extra Box 3 -->
            <div class="extraBox" id="Box_7" style="display: none;">

                <div class="box-title">
                    <p id="boxName_7"></p>
                    <h1 id="pickUp_time_7" style="display: none;"></h1>
                </div>

                <div class="scrollable2">
                    <div class="order-items" id="itemBox_7">
                        {{!-- <p id="mainItem_7"></p> --}}
                    </div>
                </div>
    
                <form action="/auth/admin/doneBtn" method="POST" class="done-btn">
                    <input type="hidden" name="adminName" value="{{name}}">
                    <input type="hidden" name="date_key" value="{{date}}">
                    <input type="hidden" name="time_key" value="{{time}}">
                    <input type="hidden" id="boxId_7" name="box_id" value="">
                    <input type="hidden" id="tableId_7" name="table_id" value="">
                    <button class="done-button" id="doneBtn-7" value="">Done</button>
                </form>

            </div>

            <!-- Extra Box 4 -->
            <div class="extraBox" id="Box_8" style="display: none;">

                <div class="box-title">
                    <p id="boxName_8"></p>
                    <h1 id="pickUp_time_8" style="display: none;"></h1>
                </div>

                <div class="scrollable2">
                    <div class="order-items" id="itemBox_8">
                        {{!-- <p id="mainItem_8"></p> --}}
                    </div>
                </div>
    
                <form action="/auth/admin/doneBtn" method="POST" class="done-btn">
                    <input type="hidden" name="adminName" value="{{name}}">
                    <input type="hidden" name="date_key" value="{{date}}">
                    <input type="hidden" name="time_key" value="{{time}}">
                    <input type="hidden" id="boxId_8" name="box_id" value="">
                    <input type="hidden" id="tableId_8" name="table_id" value="">
                    <button class="done-button" id="doneBtn-8" value="">Done</button>
                </form>

            </div>

            <!-- Extra Box 5 -->
            <div class="extraBox" id="Box_9" style="display: none;">

                <div class="box-title">
                    <p id="boxName_9"></p>
                    <h1 id="pickUp_time_9" style="display: none;"></h1>
                </div>

                <div class="scrollable2">
                    <div class="order-items" id="itemBox_9">
                        {{!-- <p id="mainItem_9"></p> --}}
                    </div>
                </div>
    
                <form action="/auth/admin/doneBtn" method="POST" class="done-btn">
                    <input type="hidden" name="adminName" value="{{name}}">
                    <input type="hidden" name="date_key" value="{{date}}">
                    <input type="hidden" name="time_key" value="{{time}}">
                    <input type="hidden" id="boxId_9" name="box_id" value="">
                    <input type="hidden" id="tableId_9" name="table_id" value="">
                    <button class="done-button" id="doneBtn-9" value="">Done</button>
                </form>

            </div>

            <!-- Extra Box 6 -->
            <div class="extraBox" id="Box_10" style="display: none;">
                <div class="box-title">
                    <p id="boxName_10"></p>
                    <h1 id="pickUp_time_10" style="display: none;"></h1>
                </div>
                <div class="scrollable2">
                    <div class="order-items" id="itemBox_10">
                        {{!-- <p id="mainItem_10"></p> --}}
                    </div>
                </div>
    
                <form action="/auth/admin/doneBtn" method="POST" class="done-btn">
                    <input type="hidden" name="adminName" value="{{name}}">
                    <input type="hidden" name="date_key" value="{{date}}">
                    <input type="hidden" name="time_key" value="{{time}}">
                    <input type="hidden" id="boxId_10" name="box_id" value="">
                    <input type="hidden" id="tableId_10" name="table_id" value="">
                    <button class="done-button" id="doneBtn-10" value="">Done</button>
                </form>

            </div>

        </div>

    </div>
</div>

<!-- Modal 5 -->
<!-- History Btn Modal  -->
<div class="historyBtn-modal" id="historyBtn-modal">
    <div class="modal-content-historyBtn">
        <span class="close-btn-historyBtn">&times;</span>

        <div class="historyBtn-textBox">

            <div class="historyBtn-title">
                <h1>View History</h1>
                <h2>{{date}} - {{time}}</h2>
            </div>

            {{!-- <div class="scrollable"></div> --}}
            <div class="review-container">

                <table border cellspacing="0">

                    <tr class="reviewBox-header">
                        <th id="tableNum-row">Table Number</th>
                        <th id="togoPerson-row">EST</th>
                        <th id="itemName-row">Item Name</th>
                    </tr>
                        
                    {{#each done_items}}
                        <tr class="addedInfo-container" id="row_{{id}}">
                            <th id="key_value" get_id="{{id}}">{{table_name}}</th>
                            <th>{{EST}}</th>
                            <th>{{order_item}}</th>
                        </tr>
                    {{/each}}

                </table>
            </div>

        </div>
    </div>
</div>

{{!-- <input type="hidden" id="userList" name="userList" value="{{nameList}}"> --}}
<input type="hidden" id="total_result" name="total_result" value="{{total_result}}">
<input type="hidden" id="table_check" name="table_check" value="{{table_check}}">
<input type="hidden" id="exit_id" name="exit_id" value="{{exit_id}}">


{{!-- Js Command --}}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
{{!-- <script type="text/javascript" src="/ws/admin.js"></script> --}}
<script type="text/javascript" src="/js/Kitchen-Side/admin_main.js"></script>
<script src="https://kit.fontawesome.com/442362b37d.js" crossorigin="anonymous"></script>

<script>

    // const ws = new WebSocket("ws://localhost:8080");
    const ws = new WebSocket("wss://nodejs-pos-hakkaku.herokuapp.com");

    // "wss://mouse-click-js.herokuapp.com"

    // Audio File
    // const kitchen_audio = new Audio('/Sound/Kitchen.mp3'); 

    ws.addEventListener("open", () => {
        console.log("We are connected!"); 
    })

    // counter to track number of userLog
    let counter = 0

    ws.addEventListener("message", ({data}) => {

        let control_id = data.split('%');

        if(control_id[0] === "passedID") {

            let username = control_id[1];
            // userLog_check(username, ws, counter); 

            if ($(`div#${username}`).length === 0) {
                counter = counter + 1; 
        
                $(`div#${username}_signOut`).remove(); 
                $('button.icon-button').append(`<span class="num_notice_badge">${String(counter)}</span>`); 
                $('div.userCheck').append
                (
                    `<div class="name-cols" id=${username}>
                        <p id="name">${username} is requesting:</p>
                        <button class="allow-btn" id='allowBtn_${username}'>Allow</button>
                    </div>`
                ); 
            }
        
            const allowBtn = document.querySelector('#allowBtn_' + username); 
        
            allowBtn.onclick = () => {
                counter = counter - 1; 
        
                console.log('user_counter', counter); 
        
                if(counter === 0){
                    $(`span.num_notice_badge`).remove()
                } else {
                    $(`span.num_notice_badge`).remove()
                    $('button.icon-button').append(`<span class="num_notice_badge">${String(counter)}</span>`)
                }
        
                $(`div#${username}`).remove()
                let permit_id = `admin_permit%${username}`;
        
                return ws.send(permit_id); 
            }

        } else if (control_id[0] === 'display_newItems') {

            update_orderSheet(control_id[1], 'None'); 

        } else if (control_id[0] === 'display_editItems') {

            update_orderSheet(control_id[1], 'edit_key'); 

        } else if (control_id[0] === 'SV_doneBtn') {
            // SV_doneBtn%Table_1
            update_tableCheck(control_id[1]); 

        } else {
            console.log("Passed through every statements..."); 
            
        }
    })

    ws.addEventListener("close", () => {
        console.log("Close a websocket connection...");
        ws.close()
    })

    // Done Button: send data to server side
    $('button.done-button').click(function() {
        // console.log($(this).val()); 
        let data = `Admin_doneBtn%${$(this).val()}`; 
        console.log(data); 
        return ws.send(data); 
    })

    // Update table_check modal and see the active table 
    function update_tableCheck (table_key) {
        // Back the color to yellow 
        document.getElementById(`${table_key}`).style.background = 'yellow'; 
        return; 
    }

    // Output for adminMain page
    function update_orderSheet (key_values, option_id) {

        // In case, remove the last item on the kitchen 
        if (key_values === 'None') {

            console.log('No items...'); 

            // Access to each table box up to 10 and clean 
            for (let i = 0; i < 10; i++) {
                let temp_getID = i + 1; 

                let element_key = document.getElementById(`itemBox_${temp_getID}`); 

                if (element_key.firstElementChild !== null) {
                    // console.log('Remove all elements on the inside...'); 

                    while (element_key.firstChild) {
                        element_key.removeChild(element_key.firstChild); 
                    }

                    // Make it nopt dispaly 
                    document.getElementById(`Box_${temp_getID}`).style.display = 'none'; 
                } 
            }

            return; 

        } else {

            console.log(key_values);

            if (option_id === 'edit_key') {

                console.log('This update is called from edit or remove buttons...'); 

                // Access to each table box up to 10 and clean 
                for (let i = 0; i < 10; i++) {
                    let temp_getID = i + 1; 

                    let element_key = document.getElementById(`itemBox_${temp_getID}`); 

                    if (element_key.firstElementChild !== null) {
                        // console.log('Remove all elements on the inside...'); 

                        while (element_key.firstChild) {
                            element_key.removeChild(element_key.firstChild); 
                        }

                        // Make it nopt dispaly 
                        document.getElementById(`Box_${temp_getID}`).style.display = 'none'; 
                    } 
                }
            }

            let eachTable_arr = key_values.split(','); 

            if (eachTable_arr.length > 4) {
                let exBox_num = eachTable_arr.length - 4; 
                document.getElementById(`exBox_num_v2`).innerHTML = exBox_num; 
            } else {
                document.getElementById(`exBox_num_v2`).innerHTML = 0;
            }

            // Create array for items
            const item_array = []; 

            for (let i = 0; i < eachTable_arr.length; i++) {

                let eachValue_arr = eachTable_arr[i].split('!');
                
                if (eachValue_arr[1].includes('Table') === true) {
                    let table_key = eachValue_arr[1].replace('Extra:', ''); 
                    document.getElementById(`${table_key}`).style.background = 'lightgreen'; 
                }

                if (i < 11) {
                    let get_num = i + 1;

                    document.getElementById(`boxId_${get_num}`).setAttribute('value', eachValue_arr[0]); 

                    for (let j = 2; j < eachValue_arr.length; j++) {
                        let item_key = `${get_num}!${eachValue_arr[j]}`;
                        item_array.push(item_key);  
                    }

                    if (eachValue_arr[1].includes('Phone') === true) {
                        let name = eachValue_arr[1].split('#')[0]; 
                        let time = eachValue_arr[1].split('#')[1]; 

                        let doneBtn_val = `${eachValue_arr[0]}#${name}`; 

                        let element_key = document.getElementById(`itemBox_${get_num}`); 

                        if (element_key.firstElementChild !== null) {
                            console.log('Remove all elements on the inside...'); 

                            while (element_key.firstChild) {
                                element_key.removeChild(element_key.firstChild); 
                            }
                        }

                        document.getElementById(`Box_${get_num}`).style.display = 'grid'; 
                        document.getElementById(`boxName_${get_num}`).innerHTML = name; 
                        document.getElementById(`pickUp_time_${get_num}`).style.display = 'block'; 
                        document.getElementById(`pickUp_time_${get_num}`).innerHTML = time; 

                        document.getElementById(`tableId_${get_num}`).setAttribute('value', name);
                        document.getElementById(`doneBtn-${get_num}`).setAttribute('value', doneBtn_val); 

                    } else {

                        // console.log('Stop here, take a look: '); 
                        let doneBtn_val = `${eachValue_arr[0]}#${eachValue_arr[1]}`; 
                        let element_key = document.getElementById(`itemBox_${get_num}`); 

                        if (element_key.firstElementChild !== null) {
                            console.log('Remove all elements on the inside...'); 

                            while (element_key.firstChild) {
                                element_key.removeChild(element_key.firstChild); 
                            }
                        } 

                        document.getElementById(`Box_${get_num}`).style.display = 'grid'; 
                        document.getElementById(`boxName_${get_num}`).innerHTML = eachValue_arr[1]; 

                        document.getElementById(`tableId_${get_num}`).setAttribute('value', eachValue_arr[1]); 
                        document.getElementById(`doneBtn-${get_num}`).setAttribute('value', doneBtn_val); 
                    }
                } 
            }

            for (let k = 0; k < item_array.length; k++) {

                let num_key = item_array[k].split('!')[0]; 
                let order_item = item_array[k].split('!')[1]; 

                let each_val = order_item.split(':'); 

                if (each_val.length > 1) {
                    var item_box = document.createElement('p'); 
                    var mainItem_text = document.createTextNode(each_val[0]); 

                    item_box.appendChild(mainItem_text); 
                    item_box.setAttribute('class', 'mainItem'); 
                    item_box.setAttribute('id', 'itemKey'); 

                    document.getElementById(`itemBox_${num_key}`).appendChild(item_box);

                    for (let r = 1; r < each_val.length; r++) {
                        // console.log(each_val[r]); 
                        if (each_val[r].includes('+') === true) {
                            var exTop_box = document.createElement('p'); 
                            var exTop_text = document.createTextNode(each_val[r]); 

                            exTop_box.appendChild(exTop_text); 
                            exTop_box.setAttribute('class', 'exTopping'); 
                            exTop_box.setAttribute('id', 'itemKey'); 

                            document.getElementById(`itemBox_${num_key}`).appendChild(exTop_box);
                        
                        } else {
                            var remove_box = document.createElement('p');
                            var remove_text = document.createTextNode(each_val[r]); 

                            remove_box.appendChild(remove_text); 
                            remove_box.setAttribute('class', 'removeItem'); 
                            remove_box.setAttribute('id', 'itemKey'); 

                            document.getElementById(`itemBox_${num_key}`).appendChild(remove_box);
                        }
                    }

                } else {
                    var item_box = document.createElement('p'); 
                    var mainItem_text = document.createTextNode(each_val[0]); 

                    item_box.appendChild(mainItem_text); 
                    item_box.setAttribute('class', 'mainItem'); 
                    item_box.setAttribute('id', 'itemKey'); 

                    document.getElementById(`itemBox_${num_key}`).appendChild(item_box);
                }
            }
        }
    }
    
</script>


</body>
</html>