<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Fjalla+One&family=Kaisei+Tokumin:wght@500&family=Raleway&family=Share&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="/css/Server-Side/server_view.css">
    <title>Server View Page</title>
</head>
<body>

    <div class="wrapper">
        <!-- Top Line for user info and some buttons -->
        <div class="page-container">

            <div class="page-info">

                <h1>User Name: {{name}}</h1>
                <h2 id="table-number">Table Number: {{table_key}}</h2>
                
                {{#if pickUp_time }}
                    <h2 id="customer-number">PickUp Time: {{pickUp_time}}</h2>
                {{else}}
                    <h2 id="customer-number">Customer Number: {{c_number}}</h2>
                {{/if}}

            </div>
        </div>

        <div class="customer-orders">
            <div class="scrollable">

                {{#each submit_items}}
                    <input type="checkbox" class="check_box" value="{{main_item}}:{{other_pref}}:{{item_price}}" name="willPay_item">
                    <label class="check_item">{{main_item}}</label>
                    <p id="other_pref">{{other_pref}}</p>
                    <hr id="item_line">
                {{/each}}
            
            </div>
        </div>
    



        <!-- Sign out Btn and Close Btn -->
        <div id="footer">
            <div class="btn-container">
                <div class="back">

                    {{!-- {{#if ifPhone_id }}
                        <form action="/auth/user/addHome" method="POST">
                            <input type="hidden" name="userName" value="{{name}}">
                            <input type="hidden" name="date_key" value="{{Date}}">
                            <input type="hidden" name="time_key" value="{{Time}}">
                            <input type="hidden" name="table_key" value="{{table_key}}">
                            <input type="hidden" name="phone_key" value="{{phone_key}}">
                            <button id="back-btn">Home</button>
                        </form>
                    {{else}}
                        <form action="/auth/user/viewBack" method="POST">
                            <input type="hidden" name="userName" value="{{name}}">
                            <input type="hidden" name="date_key" value="{{Date}}">
                            <input type="hidden" name="time_key" value="{{Time}}">
                            <input type="hidden" name="table_key" value="{{table_key}}">
                            <input type="hidden" name="c_number" value="{{c_number}}">
                            <input type="hidden" name="togo_key" value="{{togo_key}}">
                            <input type="hidden" name="phone_key" value="{{phone_key}}">
                            <button id="back-btn">Back</button>
                        </form>
                    {{/if}} --}}


                    <form action="/auth/user/viewBack" method="POST">
                        <input type="hidden" name="userName" value="{{name}}">
                        <input type="hidden" name="date_key" value="{{Date}}">
                        <input type="hidden" name="time_key" value="{{Time}}">
                        <input type="hidden" name="table_key" value="{{table_key}}">
                        <input type="hidden" name="c_number" value="{{c_number}}">
                        <input type="hidden" name="togo_key" value="{{togo_key}}">
                        <input type="hidden" name="phone_key" value="{{phone_key}}">
                        <button id="back-btn">Back</button>
                    </form>
                
                </div>

                <div class="bill">
                    <button id="bill-btn">Bill</button>
                </div>

                <div class="done">

                    {{!-- Done Btn to back to Server Home --}}
                    <form action="/auth/user/viewDone" method="POST">
                        <input type="hidden" name="userName" value="{{name}}">
                        <input type="hidden" name="date_key" value="{{Date}}">
                        <input type="hidden" name="time_key" value="{{Time}}">
                        <input type="hidden" name="table_key" id="table_key" value="{{table_key}}">
                        <input type="hidden" name="c_number" value="{{c_number}}">
                        <input type="hidden" name="togo_key" id="togo_key" value="{{togo_key}}">
                        <input type="hidden" name="phone_key" id="phone_key" value="{{phone_key}}">
                        <button id="done-btn">Done</button>
                    </form>

                </div>
            </div>
        </div>

    </div>

    {{!-- Capture noDone_id from controller --}}
    <input type="hidden" name="noDone_id" id="noDone_id" value="{{noDone_id}}">

    {{!-- Js Commnad --}}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script type="text/javascript" src="/ws/server_viewPage.js"></script>
    <script type="text/javascript" src="/js/Server-Side/server_view.js"></script>

</body>
</html>