<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Fjalla+One&family=Kaisei+Tokumin:wght@500&family=Raleway&family=Share&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="/css/Server-Side/server_view.css">
    <title>Server View Page</title>
</head>
<body>

    <div class="wrapper">
        <!-- Top Line for user info and some buttons -->
        <div class="page-container">
            <div class="page-info">
                <h1>User Name: Yuta</h1>
                <h2 id="table-number">Table Number: 2</h2>
                <h2 id="customer-number">Customer Number: 3</h2>
            </div>
        </div>

        <div class="customer-orders">
            <div class="scrollable">

                {{#each submit_items}}
                    <input type="checkbox" class="check_box" value="{{main_item}}:{{other_pref}}:{{item_price}}" name="willPay_item">
                    <label class="check_item">{{main_item}}</label>
                    <p id="other_pref">{{other_pref}}</p>
                    <hr id="item_line">
                {{/each}}
            
            </div>
        </div>
    



        <!-- Sign out Btn and Close Btn -->
        <div id="footer">
            <div class="btn-container">
                <div class="back">

                    {{!-- Back Btn on view Page--}}
                    <form action="/auth/user/viewPage" method="POST">
                        <input type="hidden" name="userName" value="{{name}}">
                        <input type="hidden" name="date_key" value="{{Date}}">
                        <input type="hidden" name="time_key" value="{{Time}}">
                        <input type="hidden" name="table_key" value="{{table_key}}">
                        <input type="hidden" name="c_number" value="{{c_number}}">
                        <button id="back-btn">Back</button>
                    </form>
                
                </div>

                <div class="bill">
                    <button id="bill-btn">Bill</button>
                </div>

                <div class="done">

                    {{!-- Back Btn on view Page--}}
                    <form action="/auth/user/viewDone" method="POST">
                        <input type="hidden" name="userName" value="{{name}}">
                        <input type="hidden" name="date_key" value="{{Date}}">
                        <input type="hidden" name="time_key" value="{{Time}}">
                        <input type="hidden" name="table_key" value="{{table_key}}">
                        <input type="hidden" name="c_number" value="{{c_number}}">
                        <button id="done-btn">Done</button>
                    </form>

                </div>
            </div>
        </div>

    </div>

</body>
</html>