<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Fjalla+One&family=Kaisei+Tokumin:wght@500&family=Raleway&family=Share&display=swap" rel="stylesheet"> 
    <link href='https://css.gg/log-out.css' rel='stylesheet'>
    <link href='https://css.gg/copy.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/Server-Side/server_home.css">
    <title>Document</title>
</head>
<body>
{{!-- Wrapper Element Start --}}
<div class="wrapper">

    <!-- Top Line for user info and some buttons -->
    <div class="page-container">

        <div class="page-info">
            <h1>User Name: {{name}}</h1>
            <h2>Date: {{Date}}</h2>
            <h2 id="page-time">Time: {{Time}}</h2>
        </div>

        <div></div>

        <div class="page-buttons">

            {{!-- Phone Button --}}
            <form action="/auth/user/phoneOrder" method="POST">
                <input type="hidden" name="userName" value="{{name}}">
                <input type="hidden" name="date_key" value="{{Date}}">
                <input type="hidden" name="time_key" value="{{Time}}">
                <input type="hidden" name="table_key" value="Phone">
                <button id="phone-button">Phone</button>
            </form>

            {{!-- Togo Button --}}
            <form action="/auth/user/togoOrder" method="POST">
                <input type="hidden" name="userName" value="{{name}}">
                <input type="hidden" name="date_key" value="{{Date}}">
                <input type="hidden" name="time_key" value="{{Time}}">
                <input type="hidden" name="table_key" value="Togo">
                <button id="takeout-button">Take Out</button>
            </form>

        </div>

    </div>

    
    <!-- Table page content -->
    <div id="scrollable">

        <!-- Table-1 and Table-2 -->
        <div class="table-container">

            <div class="table1and2">

                <div class="table" id="Table_1">

                    <p class="table_num">T1</p>

                    <div class="add-view">
                        <button class="update-button" value="Table_1" id="Table_1_update" disabled>Update</button>

                        {{!-- Add Btn --}}
                        <form action="/auth/user/addItem" method="POST" id="Table_1_filled" style="display: none;">
                            <input type="hidden" name="userName" value="{{name}}">
                            <input type="hidden" name="date_key" value="{{Date}}">
                            <input type="hidden" name="time_key" value="{{Time}}">
                            <button name="table_key" value="Table_1" class="addBtn_filled" id="Table_1_addBtn">Add</button>
                        </form>

                        <button name="default-addBtn" class="add-button" id="Table_1_empty" value="Table_1" style="display: block;">Add</button>
                    </div>

                </div>

                <div class="table" id="Table_2">

                    <p class="table_num">T2</p>

                    <div class="add-view">
                        <button class="update-button" value="Table_2" id="Table_2_update" disabled>Update</button>

                        {{!-- Add Btn --}}
                        <form action="/auth/user/addItem" method="POST"  id="Table_2_filled" style="display: none;">
                            <input type="hidden" name="userName" value="{{name}}">
                            <input type="hidden" name="date_key" value="{{Date}}">
                            <input type="hidden" name="time_key" value="{{Time}}">
                            <button name="table_key" value="Table_2" class="addBtn_filled" id="Table_2_addBtn">Add</button>
                        </form>

                        <button name="default-addBtn" class="add-button" id="Table_2_empty" value="Table_2" style="display: block;">Add</button>
                    </div>

                </div>

            </div>

            <!-- Table-3 and Table-4 -->
            <div class="table3and4">

                <div class="table" id="Table_3">

                    <p class="table_num">T3</p>

                    <div class="add-view">
                        <button class="update-button" value="Table_3" id="Table_3_update" disabled>Update</button>

                        {{!-- Add Btn --}}
                        <form action="/auth/user/addItem" method="POST" id="Table_3_filled" style="display: none;">
                            <input type="hidden" name="userName" value="{{name}}">
                            <input type="hidden" name="date_key" value="{{Date}}">
                            <input type="hidden" name="time_key" value="{{Time}}">
                            <button name="table_key" value="Table_3" class="addBtn_filled" id="Table_3_addBtn">Add</button>
                        </form>

                        <button name="default-addBtn" class="add-button" id="Table_3_empty" value="Table_3" style="display: block;">Add</button>

                    </div>

                </div>

                <div class="table" id="Table_4">

                    <p class="table_num">T4</p>

                    <div class="add-view">
                        <button class="update-button" value="Table_4" id="Table_4_update" disabled>Update</button>

                        {{!-- Add Btn --}}
                        <form action="/auth/user/addItem" method="POST" id="Table_4_filled" style="display: none;">
                            <input type="hidden" name="userName" value="{{name}}">
                            <input type="hidden" name="date_key" value="{{Date}}">
                            <input type="hidden" name="time_key" value="{{Time}}">
                            <button name="table_key" value="Table_4" class="addBtn_filled" id="Table_4_addBtn">Add</button>
                        </form>

                        <button name="default-addBtn" class="add-button" id="Table_4_empty" value="Table_4" style="display: block;">Add</button>
                    </div>

                </div>

            </div>

            <!-- Table-5 and Table-6 -->
            <div class="table5and6">

                <div class="table" id="Table_5">

                    <p class="table_num">T5</p>

                    <div class="add-view">
                        <button class="update-button" value="Table_5" id="Table_5_update" disabled>Update</button>

                        {{!-- Add Btn --}}
                        <form action="/auth/user/addItem" method="POST" id="Table_5_filled" style="display: none;">
                            <input type="hidden" name="userName" value="{{name}}">
                            <input type="hidden" name="date_key" value="{{Date}}">
                            <input type="hidden" name="time_key" value="{{Time}}">
                            <button name="table_key" value="Table_5" class="addBtn_filled" id="Table_5_addBtn">Add</button>
                        </form>

                        <button name="default-addBtn" class="add-button" id="Table_5_empty" value="Table_5" style="display: block;">Add</button>
                    </div>

                </div>

                <div class="table" id="Table_6">
                    <p class="table_num">T6</p>

                    <div class="add-view">
                        <button class="update-button" value="Table_6" id="Table_6_update" disabled>Update</button>

                        {{!-- Add Btn --}}
                        <form action="/auth/user/addItem" method="POST" id="Table_6_filled" style="display: none;">
                            <input type="hidden" name="userName" value="{{name}}">
                            <input type="hidden" name="date_key" value="{{Date}}">
                            <input type="hidden" name="time_key" value="{{Time}}">
                            <button name="table_key" value="Table_6" class="addBtn_filled" id="Table_6_addBtn">Add</button>
                        </form>

                        <button name="default-addBtn" class="add-button" id="Table_6_empty" value="Table_6" style="display: block;">Add</button>
                    </div>

                </div>

            </div>

            <!-- Table-7 and Table-8 -->
            <div class="table7and8">

                <div class="table" id="Table_7">

                    <p class="table_num">T7</p>

                    <div class="add-view">
                        <button class="update-button" value="Table_7" id="Table_7_update" disabled>Update</button>

                        {{!-- Add Btn --}}
                        <form action="/auth/user/addItem" method="POST" id="Table_7_filled" style="display: none;">
                            <input type="hidden" name="userName" value="{{name}}">
                            <input type="hidden" name="date_key" value="{{Date}}">
                            <input type="hidden" name="time_key" value="{{Time}}">
                            <button name="table_key" value="Table_7" class="addBtn_filled" id="Table_7_addBtn">Add</button>
                        </form>

                        <button name="default-addBtn" class="add-button" id="Table_7_empty" value="Table_7" style="display: block;">Add</button>
                    </div>
                </div>

                <div class="table" id="Table_8">

                    <p class="table_num">T8</p>

                    <div class="add-view">
                        <button class="update-button" value="Table_8" id="Table_8_update" disabled>Update</button>

                        {{!-- Add Btn --}}
                        <form action="/auth/user/addItem" method="POST" id="Table_8_filled" style="display: none;">
                            <input type="hidden" name="userName" value="{{name}}">
                            <input type="hidden" name="date_key" value="{{Date}}">
                            <input type="hidden" name="time_key" value="{{Time}}">
                            <button name="table_key" value="Table_8" class="addBtn_filled" id="Table_8_addBtn">Add</button>
                        </form>

                        <button name="default-addBtn" class="add-button" id="Table_8_empty" value="Table_8" style="display: block;">Add</button>
                    </div>
                </div>

            </div>

        </div>

        {{!-- Eight Regular Table Condition --}}
        <input type="hidden" id="table_arr" name="table_arr" value={{table_arr}}>
        {{!-- Togo and Phone Order Condition --}}
        <input type="hidden" id="table_arr_v2" name="table_arr_v2" value={{table_arr_v2}}>


        <!-- Phone-1 and Phone-2 -->
        <div class="extra_container">

            {{!-- Extra Box - 1 --}}
            <div id="ex1" style="display:none;">
                <div class="togo_phone_box" id="ex_table_1" style="background: none;">

                    {{!-- Heading Line --}}
                    <p class="table_num" id="text_ex1"></p>
                
                    {{!-- Togo Options --}}
                    <div class="togo-option" id="togo-option-1" style="display: none;">
    
                        <form action="/auth/user/togoBox" method="POST">
                            <input type="hidden" name="userName" value="{{name}}">
                            <input type="hidden" name="date_key" value="{{Date}}">
                            <input type="hidden" name="time_key" value="{{Time}}">
                            <input type="hidden" id="update_btn_1" name="table_key" value="">
                            <button class="update-btn-togo" name="func_key" value="update_id">Update</button>
                        </form>

                        <form action="/auth/user/togoBox" method="POST">
                            <input type="hidden" name="userName" value="{{name}}">
                            <input type="hidden" name="date_key" value="{{Date}}">
                            <input type="hidden" name="time_key" value="{{Time}}">
                            <input type="hidden" id="done_btn_1" name="table_key" value="">
                            <button class="done-button" id="doneBtn-togo-1" table_id="" name="func_key" value="done_id">Done</button>
                        </form>

                    </div>

                    {{!-- Phone Order --}}
                    <div class="phone-option" id="phone-option-1" style="display: none;">

                        <form action="/auth/user/phoneBox" method="POST">
                            <input type="hidden" name="userName" value="{{name}}">
                            <input type="hidden" name="date_key" value="{{Date}}">
                            <input type="hidden" name="time_key" value="{{Time}}">
                            <input type="hidden" id="update_phone_1" name="table_key" value="">
                            <button class="update-btn-phone" name="func_key" value="update_id">Update</button>
                        </form>

                        <form action="/auth/user/phoneBox" method="POST">
                            <input type="hidden" name="userName" value="{{name}}">
                            <input type="hidden" name="date_key" value="{{Date}}">
                            <input type="hidden" name="time_key" value="{{Time}}">
                            <input type="hidden" id="view_phone_1" name="table_key" value="">
                            <button class="view-btn-phone" id="doneBtn-phone-1" table_id="" name="func_key" value="done_id">Done</button>
                        </form>
                        
                    </div>

                </div>
            </div>


            {{!-- Extra Box - 2 --}}
            <div id="ex2" style="display:none;">
                <div class="togo_phone_box" id="ex_table_2" style="background: none;">

                    {{!-- Heading Line --}}
                    <p class="table_num" id="text_ex2"></p>

                    {{!-- Togo Options --}}
                    <div class="togo-option" id="togo-option-2" style="display: none;">

                        <form action="/auth/user/togoBox" method="POST">
                            <input type="hidden" name="userName" value="{{name}}">
                            <input type="hidden" name="date_key" value="{{Date}}">
                            <input type="hidden" name="time_key" value="{{Time}}">
                            <input type="hidden" id="update_btn_2" name="table_key" value="">
                            <button class="update-btn-togo" name="func_key" value="update_id">Update</button>
                        </form>

                        <form action="/auth/user/togoBox" method="POST">
                            <input type="hidden" name="userName" value="{{name}}">
                            <input type="hidden" name="date_key" value="{{Date}}">
                            <input type="hidden" name="time_key" value="{{Time}}">
                            <input type="hidden" id="done_btn_2" name="table_key" value="">
                            <button class="done-button" id="doneBtn-togo-2" table_id="" name="func_key" value="done_id">Done</button>
                        </form>

                    </div>

                    {{!-- Phone Order --}}
                    <div class="phone-option" id="phone-option-2" style="display: none;">

                        <form action="/auth/user/phoneBox" method="POST">
                            <input type="hidden" name="userName" value="{{name}}">
                            <input type="hidden" name="date_key" value="{{Date}}">
                            <input type="hidden" name="time_key" value="{{Time}}">
                            <input type="hidden" id="update_phone_2" name="table_key" value="">
                            <button class="update-btn-phone" name="func_key" value="update_id">Update</button>
                        </form>

                        <form action="/auth/user/phoneBox" method="POST">
                            <input type="hidden" name="userName" value="{{name}}">
                            <input type="hidden" name="date_key" value="{{Date}}">
                            <input type="hidden" name="time_key" value="{{Time}}">
                            <input type="hidden" id="view_phone_2" name="table_key" value="">
                            <button class="view-btn-phone" id="doneBtn-phone-2" table_id="" name="func_key" value="done_id">Done</button>
                        </form>
            
                    </div>
                </div>
            </div>
        </div>


        <!-- Phone-3 and Phone-4 -->
        <div class="extra_container2">

            {{!-- Extra Box - 3 --}}
            <div id="ex3" style="display:none;">
                <div class="togo_phone_box" id="ex_table_3" style="background: none;">

                    {{!-- Heading Line --}}
                    <p class="table_num" id="text_ex3"></p>

                    {{!-- Togo Options --}}
                    <div class="togo-option" id="togo-option-3" style="display: none;">
                        
                        <form action="/auth/user/togoBox" method="POST">
                            <input type="hidden" name="userName" value="{{name}}">
                            <input type="hidden" name="date_key" value="{{Date}}">
                            <input type="hidden" name="time_key" value="{{Time}}">
                            <input type="hidden" id="update_btn_3" name="table_key" value="">
                            <button class="update-btn-togo" name="func_key" value="update_id">Update</button>
                        </form>

                        <form action="/auth/user/togoBox" method="POST">
                            <input type="hidden" name="userName" value="{{name}}">
                            <input type="hidden" name="date_key" value="{{Date}}">
                            <input type="hidden" name="time_key" value="{{Time}}">
                            <input type="hidden" id="done_btn_3" name="table_key" value="">
                            <button class="done-button" id="doneBtn-togo-3" table_id="" name="func_key" value="done_id">Done</button>
                        </form>

                    </div>

                    {{!-- Phone Order --}}
                    <div class="phone-option" id="phone-option-3" style="display: none;">

                        <form action="/auth/user/phoneBox" method="POST">
                            <input type="hidden" name="userName" value="{{name}}">
                            <input type="hidden" name="date_key" value="{{Date}}">
                            <input type="hidden" name="time_key" value="{{Time}}">
                            <input type="hidden" id="update_phone_3" name="table_key" value="">
                            <button class="update-btn-phone" name="func_key" value="update_id">Update</button>
                        </form>

                        <form action="/auth/user/phoneBox" method="POST">
                            <input type="hidden" name="userName" value="{{name}}">
                            <input type="hidden" name="date_key" value="{{Date}}">
                            <input type="hidden" name="time_key" value="{{Time}}">
                            <input type="hidden" id="view_phone_3" name="table_key" value="">
                            <button class="view-btn-phone" id="doneBtn-phone-3" table_id="" name="func_key" value="done_id">Done</button>
                        </form>
            
                    </div>

                </div>
            </div>

            {{!-- Extra Box - 4 --}}
            <div id="ex4" style="display:none;">
                <div class="togo_phone_box" id="ex_table_4" style="background: none;">

                    {{!-- Heading Line --}}
                    <p class="table_num" id="text_ex4"></p>

                    {{!-- Togo Options --}}
                    <div class="togo-option" id="togo-option-4" style="display: none;">

                        <form action="/auth/user/togoBox" method="POST">
                            <input type="hidden" name="userName" value="{{name}}">
                            <input type="hidden" name="date_key" value="{{Date}}">
                            <input type="hidden" name="time_key" value="{{Time}}">
                            <input type="hidden" id="update_btn_4" name="table_key" value="">
                            <button class="update-btn-togo" name="func_key" value="update_id">Update</button>
                        </form>

                        <form action="/auth/user/togoBox" method="POST">
                            <input type="hidden" name="userName" value="{{name}}">
                            <input type="hidden" name="date_key" value="{{Date}}">
                            <input type="hidden" name="time_key" value="{{Time}}">
                            <input type="hidden" id="done_btn_4" name="table_key" value="">
                            <button class="done-button" id="doneBtn-togo-4" table_id="" name="func_key" value="done_id">Done</button>
                        </form>

                    </div>

                    {{!-- Phone Order --}}
                    <div class="phone-option" id="phone-option-4" style="display: none;">

                        <form action="/auth/user/phoneBox" method="POST">
                            <input type="hidden" name="userName" value="{{name}}">
                            <input type="hidden" name="date_key" value="{{Date}}">
                            <input type="hidden" name="time_key" value="{{Time}}">
                            <input type="hidden" id="update_phone_4" name="table_key" value="">
                            <button class="update-btn-phone" name="func_key" value="update_id">Update</button>
                        </form>

                        <form action="/auth/user/phoneBox" method="POST">
                            <input type="hidden" name="userName" value="{{name}}">
                            <input type="hidden" name="date_key" value="{{Date}}">
                            <input type="hidden" name="time_key" value="{{Time}}">
                            <input type="hidden" id="view_phone_4" name="table_key" value="">
                            <button class="view-btn-phone" id="doneBtn-phone-4" table_id="" name="func_key" value="done_id">Done</button>
                        </form>
            
                    </div>
                </div>
            </div>

        </div> 

        <!-- Togo-5 and Togo-6 -->
        <div class="extra_container3">

            <div id="ex5" id="extra_box" style="display:none;">

                <div class="togo_phone_box" id="ex_table_5" style="background: none;">

                    <p class="table_num" id="text_ex5"></p>

                    <div class="togo-option" id="togo-option-5" style="display: none;">

                        <form action="/auth/user/togoBox" method="POST">
                            <input type="hidden" name="userName" value="{{name}}">
                            <input type="hidden" name="date_key" value="{{Date}}">
                            <input type="hidden" name="time_key" value="{{Time}}">
                            <input type="hidden" id="update_btn_5" name="table_key" value="">
                            <button class="update-btn-togo" name="func_key" value="update_id">Update</button>
                        </form>

                        <form action="/auth/user/togoBox" method="POST">
                            <input type="hidden" name="userName" value="{{name}}">
                            <input type="hidden" name="date_key" value="{{Date}}">
                            <input type="hidden" name="time_key" value="{{Time}}">
                            <input type="hidden" id="done_btn_5" name="table_key" value="">
                            <button class="done-button" id="doneBtn-togo-5" name="func_key" value="done_id">Done</button>
                        </form>

                    </div>

                    {{!-- Phone Order --}}
                    <div class="phone-option" id="phone-option-5" style="display: none;">

                        <form action="/auth/user/phoneBox" method="POST">
                            <input type="hidden" name="userName" value="{{name}}">
                            <input type="hidden" name="date_key" value="{{Date}}">
                            <input type="hidden" name="time_key" value="{{Time}}">
                            <input type="hidden" id="update_phone_5" name="table_key" value="">
                            <button class="update-btn-phone" name="func_key" value="update_id">Update</button>
                        </form>

                        <form action="/auth/user/phoneBox" method="POST">
                            <input type="hidden" name="userName" value="{{name}}">
                            <input type="hidden" name="date_key" value="{{Date}}">
                            <input type="hidden" name="time_key" value="{{Time}}">
                            <input type="hidden" id="view_phone_5" name="table_key" value="">
                            <button class="view-btn-phone" id="doneBtn-phone-5" name="func_key" value="done_id">Done</button>
                        </form>
            
                    </div>
                </div>  
            </div>

            <div id="ex6" id="extra_box" style="display:none;">

                <div class="togo_phone_box" id="ex_table_6" style="background: none;">

                    <p class="table_num" id="text_ex6"></p>

                    <div class="togo-option" id="togo-option-6" style="display: none;">

                        <form action="/auth/user/togoBox" method="POST">
                            <input type="hidden" name="userName" value="{{name}}">
                            <input type="hidden" name="date_key" value="{{Date}}">
                            <input type="hidden" name="time_key" value="{{Time}}">
                            <input type="hidden" id="update_btn_6" name="table_key" value="">
                            <button class="update-btn-togo" name="func_key" value="update_id">Update</button>
                        </form>

                        <form action="/auth/user/togoBox" method="POST">
                            <input type="hidden" name="userName" value="{{name}}">
                            <input type="hidden" name="date_key" value="{{Date}}">
                            <input type="hidden" name="time_key" value="{{Time}}">
                            <input type="hidden" id="done_btn_6" name="table_key" value="">
                            <button class="done-button" id="doneBtn-togo-6" name="func_key" value="done_id">Done</button>
                        </form>
                    
                    </div>

                    {{!-- Phone Order --}}
                    <div class="phone-option" id="phone-option-6" style="display: none;">

                        <form action="/auth/user/phoneBox" method="POST">
                            <input type="hidden" name="userName" value="{{name}}">
                            <input type="hidden" name="date_key" value="{{Date}}">
                            <input type="hidden" name="time_key" value="{{Time}}">
                            <input type="hidden" id="update_phone_6" name="table_key" value="">
                            <button class="update-btn-phone" name="func_key" value="update_id">Update</button>
                        </form>

                        <form action="/auth/user/phoneBox" method="POST">
                            <input type="hidden" name="userName" value="{{name}}">
                            <input type="hidden" name="date_key" value="{{Date}}">
                            <input type="hidden" name="time_key" value="{{Time}}">
                            <input type="hidden" id="view_phone_6" name="table_key" value="">
                            <button class="view-btn-phone" id="doneBtn-phone-6" name="func_key" value="done_id">Done</button>
                        </form>
            
                    </div>

                </div>
            </div>

        </div>
        
        <!-- Togo-7 and Togo-8 -->
        <div class = "extra_container4">

            <div id="ex7" style="display:none;">

                <div class="togo_phone_box" id="ex_table_7" style="background: none;">

                    <p class="table_num" id="text_ex7"></p>

                    <div class="togo-option" id="togo-option-7" style="display: none;">
    
                        <form action="/auth/user/togoBox" method="POST">
                            <input type="hidden" name="userName" value="{{name}}">
                            <input type="hidden" name="date_key" value="{{Date}}">
                            <input type="hidden" name="time_key" value="{{Time}}">
                            <input type="hidden" id="update_btn_7" name="table_key" value="">
                            <button class="update-btn-togo" name="func_key" value="update_id">Update</button>
                        </form>

                        <form action="/auth/user/togoBox" method="POST">
                            <input type="hidden" name="userName" value="{{name}}">
                            <input type="hidden" name="date_key" value="{{Date}}">
                            <input type="hidden" name="time_key" value="{{Time}}">
                            <input type="hidden" id="done_btn_7" name="table_key" value="">
                            <button class="done-button" id="doneBtn-togo-7" name="func_key" value="done_id">Done</button>
                        </form>

                    </div>

                    {{!-- Phone Order --}}
                    <div class="phone-option" id="phone-option-7" style="display: none;">

                        <form action="/auth/user/phoneBox" method="POST">
                            <input type="hidden" name="userName" value="{{name}}">
                            <input type="hidden" name="date_key" value="{{Date}}">
                            <input type="hidden" name="time_key" value="{{Time}}">
                            <input type="hidden" id="update_phone_7" name="table_key" value="">
                            <button class="update-btn-phone" name="func_key" value="update_id">Update</button>
                        </form>

                        <form action="/auth/user/phoneBox" method="POST">
                            <input type="hidden" name="userName" value="{{name}}">
                            <input type="hidden" name="date_key" value="{{Date}}">
                            <input type="hidden" name="time_key" value="{{Time}}">
                            <input type="hidden" id="view_phone_7" name="table_key" value="">
                            <button class="view-btn-phone" id="doneBtn-phone-7" name="func_key" value="done_id">Done</button>
                        </form>
            
                    </div>

                </div>
            </div>

            <div id="ex8" style="display:none;">

                <div class="togo_phone_box" id="ex_table_8" style="background: none;">

                    <p class="table_num" id="text_ex8"></p>

                    <div class="togo-option" id="togo-option-8" style="display: none;">
                        
                        <form action="/auth/user/togoBox" method="POST">
                            <input type="hidden" name="userName" value="{{name}}">
                            <input type="hidden" name="date_key" value="{{Date}}">
                            <input type="hidden" name="time_key" value="{{Time}}">
                            <input type="hidden" id="update_btn_8" name="table_key" value="">
                            <button class="update-btn-togo" name="func_key" value="update_id">Update</button>
                        </form>

                        <form action="/auth/user/togoBox" method="POST">
                            <input type="hidden" name="userName" value="{{name}}">
                            <input type="hidden" name="date_key" value="{{Date}}">
                            <input type="hidden" name="time_key" value="{{Time}}">
                            <input type="hidden" id="done_btn_8" name="table_key" value="">
                            <button class="done-button" id="doneBtn-togo-8" name="func_key" value="done_id">Done</button>
                        </form>

                    </div>

                    {{!-- Phone Order --}}
                    <div class="phone-option" id="phone-option-8" style="display: none;">

                        <form action="/auth/user/phoneBox" method="POST">
                            <input type="hidden" name="userName" value="{{name}}">
                            <input type="hidden" name="date_key" value="{{Date}}">
                            <input type="hidden" name="time_key" value="{{Time}}">
                            <input type="hidden" id="update_phone_8" name="table_key" value="">
                            <button class="update-btn-phone" name="func_key" value="update_id">Update</button>
                        </form>

                        <form action="/auth/user/phoneBox" method="POST">
                            <input type="hidden" name="userName" value="{{name}}">
                            <input type="hidden" name="date_key" value="{{Date}}">
                            <input type="hidden" name="time_key" value="{{Time}}">
                            <input type="hidden" id="view_phone_8" name="table_key" value="">
                            <button class="view-btn-phone" id="doneBtn-phone-8" name="func_key" value="done_id">Done</button>
                        </form>
            
                    </div>

                </div>
            </div>
        </div>

    </div>



    <!-- Sign out Btn and Close Btn -->
    <div id="footer">

        <div class="btn-container">

            <div class="signout">

                {{!-- Sign Out Btn --}}
                <form action="/auth/user/signout" method="POST">
                    <input type="hidden" id="userName" name="userName" value="{{name}}">
                    <input type="hidden" name="date_key" value="{{Date}}">
                    <input type="hidden" name="time_key" value="{{Time}}">
                    <button type="submit" id="signout-btn">
                        <i style="font-size:20px" class="fa">&#xf08b;</i>
                    </button>
                </form>

            </div>

            <div class="order">
                <button id="order-btn"><i class="gg-copy"></i></button>
            </div>

            <div class="void">
                <button id="void-btn"><i class="fa fa-history"></i></button>
            </div>

            <div class="close">
                <button id="close-btn">
                <i style="font-size:20px" class="fa">&#9747;</i></button>
            </div>

        </div>
    </div>

{{!-- Wrapper Element End --}}
</div>

<!-- Update Modal -->
<div class="updateBtn-modal" id="updateBtn-modal">

    <div class="modal-content-updateBtn">

        <span class="close-btn-updateBtn">&times;</span>

        <div class="table-updateBox">
            <!-- Table Panel -->
            <h1 id="update-number"></h1>

            <!-- Customer Number Panel -->
            <div class="customerCheck">

                <h1>Customer: </h1>

                <div id="button_wrapper">
                    <button id="button_decrease">-</button>
                    <h1 id="counter">0</h1>
                    <button id="button_increase">+</button>
                </div>

            </div>

            <!-- Table Switch Panel -->
            <div class="table-switch">

                <h1>Switch: </h1>

                <div id="s-button_wrapper">
                    <button id="s-button_decrease">-</button>
                    <h4>Table<h1 id="s-counter" style="display: none;">0</h1></h4>
                    <button id="s-button_increase">+</button>
                </div>

            </div>

            <!-- Cancel and Confirm Button -->
            <div class="button-container">
                <button id="cancel-btn">Cancel</button>

                <form action="/auth/user/updateTable" method="POST">
                    <input type="hidden" name="userName" value="{{name}}">
                    <input type="hidden" name="date_key" value="{{Date}}">
                    <input type="hidden" name="time_key" value="{{Time}}">
                    {{!-- <input type="hidden" id="new_c_number" name="new_c_number" value="">
                    <input type="hidden" id="new_table_key" name="new_table_key" value=""> --}}
                    <button id="confirm-btn" name="table_key" value="">Confirm</button>
                </form>
            </div>

        </div>
    </div>
</div>

<!-- addBtn Modal -->
<div class="addBtn-modal" id="addBtn-modal">

    <div class="modal-content-addBtn">

        <span class="close-btn-addBtn">&times;</span>

        <div class="table-addBox">
            <!-- Table Panel -->
            <h1 id="table-number"></h1>

            <!-- Customer Number Panel -->
            <div class="customerCheck_add">
                <h1>Customer: </h1>

                <div id="add_button_wrapper">
                    <button id="add_button_decrease">-</button>
                    <h1 id="add_counter">0</h1>
                    <button id="add_button_increase">+</button>
                </div>

            </div>

            <!-- Cancel and Confirm Button -->
            <div class="add_button-container">
                <button id="back-btn">Back</button>

                {{!-- Next Btn --}}
                <form action="/auth/user/addItem" method="POST">
                    <input type="hidden" name="userName" value="{{name}}">
                    <input type="hidden" name="date_key" value="{{Date}}">
                    <input type="hidden" name="time_key" value="{{Time}}">
                    <input type="hidden" id="c_number" name="c_number">
                    <button type="submit" id="next-btn" name="table_key">Next</button>
                </form>

            </div>

        </div>
    </div>
</div>

<!-- Close Btn Modal -->
<div class="closeBtn-modal" id="closeBtn-modal">
    <div class="modal-content-closeBtn">
    
        <span class="close-btn-closeBtn">&times;</span>

        <!-- close modal inside -->
        <div class="table-closeBox">

            <h1>Are you sure to finish and leave?</h1>
            
            <!-- Yes or No Buttons -->
            <div class="close_button-container">

                <button id="no-btn">No</button>

                <form action="/auth/user/finishBtn" method="POST">
                    <input type="hidden" name="userName" value="{{name}}">
                    <input type="hidden" name="date_key" value="{{Date}}">
                    <input type="hidden" name="time_key" value="{{Time}}">
                    <button id="yes-btn">Yes</button>
                </form>

            </div>

        </div>

    </div>
</div>

<!-- Order Button Modal -->
<div class="orderBtn-modal" id="orderBtn-modal">

    <div class="modal-content-orderBtn">

        <span class="close-btn-orderBtn">&times;</span>

        <div class="orderBtn-title">
            <h1>Coming Items</h1>
        </div>

        <div class="orderBtn-textBox">
            <div class="scrollable-orders">
                <div class="review-container">
                    <table border cellspacing="0" class="review-table">
                        {{#each items}}
                            <tr class="reviewBox-header" name="row_{{kitchen_id}}" id="row_{{id}}">
                                <td class="tableNum-row" get_id="{{id}}">{{table_id}}</td>
                                <td class="order-row">{{item_name}}</td>
                            </tr>
                        {{/each}}
                    </table>

                </div>
            </div>
        </div>
    </div>
</div>  

<div class="orderBtn-modal-2" id="orderBtn-modal-2">
    <div class="modal-content-orderBtn-2">

        <span class="close-btn-orderBtn-2">&times;</span>

        <div class="orderBtn-title-2">
            <h1>Paid Items</h1>
        </div>

        <div class="orderBtn-textBox-2">
            <div class="scrollable-orders-2">
                <div class="review-container-2">
                    <table border cellspacing="0" class="review-table-2">
                        {{#each done_items}}
                            <tr class="reviewBox-header-2" id="row_{{id}}">
                                <td class="tableNum-row-2" get_id="{{id}}">{{table_id}}</td>
                                <td class="order-row-2">{{item_name}}</td>
                            </tr>
                        {{/each}}
                    </table>
                </div>
            </div>
        </div>
        
    </div>
</div>



{{!-- Js Commnad --}}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script type="text/javascript" src="/ws/server.js"></script>
<script type="text/javascript" src="/js/Server-Side/server-home.js"></script>
{{!-- <script type="text/javascript" src="/js/Server-Side/server_togo_phone.js"></script> --}}

</body>
</html>