<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test Page - Table Condition</title>
    <style>
        body {
            background: black;
            color: white;
        }
        #refresh-btn {
            padding: 5px 18px;
            background-color: blueviolet;
            margin-top: 30px;
        }
        #add-btn{
            padding: 5px 18px;
            background: lightcoral;
        }
        .switch-btn {
            margin-top: 5px;
            display: flex;
            gap: 10px;
            margin-top: 10px;
        }
        .switch-btn button{
            padding: 5px 15px;
            background: lightgreen;
        }
    </style>
</head>
<body>
    <h1>Test Page - Check order sheet</h1>

    {{!-- Table Status from t-1 to t-8 --}}
    <input type="hidden" id="t-1" value={{table_1}}> 
    <input type="hidden" id="t-2" value={{table_2}}> 
    <input type="hidden" id="t-3" value={{table_3}}> 
    <input type="hidden" id="t-4" value={{table_4}}> 
    <input type="hidden" id="t-5" value={{table_5}}> 
    <input type="hidden" id="t-6" value={{table_6}}> 
    <input type="hidden" id="t-7" value={{table_7}}> 
    <input type="hidden" id="t-8" value={{table_8}}> 

    <div class="button-container">
        <div class="table-1">

            <h2>Table-1: {{table_1}}</h2>

            <form action="/auth/addTest" method="POST">       
                <button id="add-btn" name="table_id" value="Table_1">Add</button>
            </form>

            <form action="/auth/switchTest" method="POST" class="switch-btn"> 
                <input type="hidden" name="table_num" value="Table_1">      
                <button name="switch_id" id="stBtn_2" value="Table_2">T-2</button>
                <button name="switch_id" id="stBtn_3" value="Table_3">T-3</button>
                <button name="switch_id" id="stBtn_4" value="Table_4">T-4</button>
                <button name="switch_id" id="stBtn_5" value="Table_5">T-5</button>
                <button name="switch_id" id="stBtn_6" value="Table_6">T-6</button>
                <button name="switch_id" id="stBtn_7" value="Table_7">T-7</button>
                <button name="switch_id" id="stBtn_8" value="Table_8">T-8</button>
            </form>

        </div>

        <div class="table-2">

            <h2>Table-2: {{table_2}}</h2>
            <form action="/auth/addTest" method="POST">       
                <button id="add-btn" name="table_id" value="Table_2">Add</button>
            </form>

            <form action="/auth/switchTest" method="POST" class="switch-btn">  
                <input type="hidden" name="table_num" value="Table_2">       
                <button name="switch_id" id="stBtn_1" value="Table_1">T-1</button>
                <button name="switch_id" id="stBtn_3" value="Table_3">T-3</button>
                <button name="switch_id" id="stBtn_4" value="Table_4">T-4</button>
                <button name="switch_id" id="stBtn_5" value="Table_5">T-5</button>
                <button name="switch_id" id="stBtn_6" value="Table_6">T-6</button>
                <button name="switch_id" id="stBtn_7" value="Table_7">T-7</button>
                <button name="switch_id" id="stBtn_8" value="Table_8">T-8</button>
            </form>
        </div>

        <div class="table-3">

            <h2>Table-3: {{table_3}}</h2>
            <form action="/auth/addTest" method="POST">       
                <button id="add-btn" name="table_id" value="Table_3">Add</button>
            </form>

            <form action="/auth/switchTest" method="POST" class="switch-btn">  
                <input type="hidden" name="table_num" value="Table_3">       
                <button name="switch_id" id="stBtn_1" value="Table_1">T-1</button>
                <button name="switch_id" id="stBtn_2" value="Table_2">T-2</button>
                <button name="switch_id" id="stBtn_4" value="Table_4">T-4</button>
                <button name="switch_id" id="stBtn_5" value="Table_5">T-5</button>
                <button name="switch_id" id="stBtn_6" value="Table_6">T-6</button>
                <button name="switch_id" id="stBtn_7" value="Table_7">T-7</button>
                <button name="switch_id" id="stBtn_8" value="Table_8">T-8</button>
            </form>
        </div>

        <div class="table-4">

            <h2>Table-4: {{table_4}}</h2>
            <form action="/auth/addTest" method="POST">       
                <button id="add-btn" name="table_id" value="Table_4">Add</button>
            </form>

            <form action="/auth/switchTest" method="POST" class="switch-btn">    
                <input type="hidden" name="table_num" value="Table_4">     
                <button name="switch_id" id="stBtn_1" value="Table_1">T-1</button>
                <button name="switch_id" id="stBtn_2" value="Table_2">T-2</button>
                <button name="switch_id" id="stBtn_3" value="Table_3">T-3</button>
                <button name="switch_id" id="stBtn_5" value="Table_5">T-5</button>
                <button name="switch_id" id="stBtn_6" value="Table_6">T-6</button>
                <button name="switch_id" id="stBtn_7" value="Table_7">T-7</button>
                <button name="switch_id" id="stBtn_8" value="Table_8">T-8</button>
            </form>
        </div>

        <div class="table-5">

            <h2>Table-5: {{table_5}}</h2>
            <form action="/auth/addTest" method="POST">       
                <button id="add-btn" name="table_id" value="Table_5">Add</button>
            </form>

            <form action="/auth/switchTest" method="POST" class="switch-btn">     
                <input type="hidden" name="table_num" value="Table_5">    
                <button name="switch_id" id="stBtn_1" value="Table_1">T-1</button>
                <button name="switch_id" id="stBtn_2" value="Table_2">T-2</button>
                <button name="switch_id" id="stBtn_3" value="Table_3">T-3</button>
                <button name="switch_id" id="stBtn_4" value="Table_4">T-4</button>
                <button name="switch_id" id="stBtn_6" value="Table_6">T-6</button>
                <button name="switch_id" id="stBtn_7" value="Table_7">T-7</button>
                <button name="switch_id" id="stBtn_8" value="Table_8">T-8</button>
            </form>
        </div>

        <div class="table-6">

            <h2>Table-6: {{table_6}}</h2>
            <form action="/auth/addTest" method="POST">       
                <button id="add-btn" name="table_id" value="Table_6">Add</button>
            </form>

            <form action="/auth/switchTest" method="POST" class="switch-btn">    
                <input type="hidden" name="table_num" value="Table_6">     
                <button name="switch_id" id="stBtn_1" value="Table_1">T-1</button>
                <button name="switch_id" id="stBtn_2" value="Table_2">T-2</button>
                <button name="switch_id" id="stBtn_3" value="Table_3">T-3</button>
                <button name="switch_id" id="stBtn_4" value="Table_4">T-4</button>
                <button name="switch_id" id="stBtn_5" value="Table_5">T-5</button>
                <button name="switch_id" id="stBtn_7" value="Table_7">T-7</button>
                <button name="switch_id" id="stBtn_8" value="Table_8">T-8</button>
            </form>
        </div>

        <div class="table-7">

            <h2>Table-7: {{table_7}}</h2>
            <form action="/auth/addTest" method="POST">       
                <button id="add-btn" name="table_id" value="Table_7">Add</button>
            </form>

            <form action="/auth/switchTest" method="POST" class="switch-btn">   
                <input type="hidden" name="table_num" value="Table_7">      
                <button name="switch_id" id="stBtn_1" value="Table_1">T-1</button>
                <button name="switch_id" id="stBtn_2" value="Table_2">T-2</button>
                <button name="switch_id" id="stBtn_3" value="Table_3">T-3</button>
                <button name="switch_id" id="stBtn_4" value="Table_4">T-4</button>
                <button name="switch_id" id="stBtn_5" value="Table_5">T-5</button>
                <button name="switch_id" id="stBtn_6" value="Table_6">T-6</button>
                <button name="switch_id" id="stBtn_8" value="Table_8">T-8</button>
            </form>
        </div>

        <div class="table-8">

            <h2>Table-8: {{table_8}}</h2>
            <form action="/auth/addTest" method="POST">       
                <button id="add-btn" name="table_id" value="Table_8">Add</button>
            </form>

            <form action="/auth/switchTest" method="POST" class="switch-btn">   
                <input type="hidden" name="table_num" value="Table_8">      
                <button name="switch_id" id="stBtn_1" value="Table_1">T-1</button>
                <button name="switch_id" id="stBtn_2" value="Table_2">T-2</button>
                <button name="switch_id" id="stBtn_3" value="Table_3">T-3</button>
                <button name="switch_id" id="stBtn_4" value="Table_4">T-4</button>
                <button name="switch_id" id="stBtn_5" value="Table_5">T-5</button>
                <button name="switch_id" id="stBtn_6" value="Table_6">T-6</button>
                <button name="switch_id" id="stBtn_7" value="Table_7">T-7</button>
            </form>
        </div>

        <form action="/auth/refreshBtn" method="POST">       
            <button id="refresh-btn">All Clear</button>
        </form>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script type="text/javascript" src="/js/testPage.js"></script>
    <script type="text/javascript" src="/ws/testPage.js"></script>

</body>
</html>